<%-include("partials/header.ejs")%>
    <!--container-->
    <div class="container">
      <h1 class="text-center">Customers</h1>
      <div class="row">
        <div class="col">
          <a href="/customer/register" class="btn btn-primary"> Add Customer</a>
        </div>
      </div>
      <div class="row">
        <div class="col mt-2">
          <!--table-->
          <table class="table table-striped justify-content-end">
            <thead class="text-center">
              <tr class="border border-3 border-secondary">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Joined Date</th>
                <th scope="col">Repair History</th>
                <th scope="col">Perfer Technician</th>
              </tr>
            </thead>
            <tbody class="text-center border border-3 border-secondary">
              <%customers.forEach((item,indx) => {%>
              <tr>
                <td><%=indx + 1%></td>
                <td><%=item.name%></td>
                <td><%=item.address%></td>
                <td><%=item.phone_number%></td>
                <td><%=item.joined_date%></td>
                <td><a href="/customer/history/<%=item._id%>">View</a></td>
                <td>
                  <%if(!item.fav_tech.length){%> None <%}else{%>
                  <%employees.forEach(employee=>{%> <%if(String(item.fav_tech)
                  == employee._id){%> <%=employee.name%> <%}%> <%})%> <%}%>
                </td>
                <td class="d-flex justify-content-between" style="border: none;">
                  <a
                    class="btn btn-primary btn-sm"
                    href="/customer/<%=item._id%>"
                    >View</a
                  >
                  <a
                    class="btn btn-primary btn-sm"
                    href="/customer/edit/<%=item._id%>"
                    >Update</a
                  >
                  <a
                    class="btn btn-primary btn-sm"
                    href="/customer/deleteItem/<%=item._id%>?_method=DELETE"
                    >Delete</a
                  >
                  <a
                    class="btn btn-primary btn-sm"
                    href="/ticket/register/<%=item._id%>"
                    >Create Ticket</a
                  >
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
          <!--/table-->
        </div>
      </div>
    </div>
    <!--/container-->
<%-include("partials/footer.ejs")%>
