<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title><%=title%></title>
  </head>
  <body>
    <!--container-->
    <!--nav-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
          </div>
        </div>
      </div>
    </nav>
    <!--/nav-->
    <div class="container">
      <h1 class="text-center">Inventory</h1>
      <div class="row mt-3">
        <div class="col-2 border">
          <nav class="nav">
            <a class="nav-link btn" href="/inventory">View All Items</a>
            <button
              class="nav-link btn"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#itemForm"
              data-bs-type="edit"
              data-bs-identifier="inventory"
              id="resetBtn"
            >
              Add To Inventory
            </button>
          </nav>
        </div>
        <div class="col border">
          <!-- <h3>Search Inventory:</h3>
          <form
            class="d-inline-flex"
            action="/inventory/seatchItem"
            method="GET"
          >
            <input
              name="searchItem"
              class="form-control me-2"
              type="search"
              placeholder="Item Name"
              aria-label="Search"
            />
            <input
              name="searchQty"
              class="form-control me-2"
              type="number"
              placeholder="Item Quantity"
              aria-label="Search"
            />
            <input
              name="searchBrand"
              class="form-control me-2"
              type="search"
              placeholder="Item Brand"
              aria-label="Search"
            />
            <input
              name="searchLocation"
              class="form-control me-2"
              type="search"
              placeholder="Item Location"
              aria-label="Search"
            />
            <button class="btn btn-outline-primary" type="submit">
              Search
            </button>
            <button class="btn btn-outline-primary ms-2" type="reset">
              Reset
            </button>
          </form> -->
          <!--table-->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Brand</th>
                <th scope="col">Location</th>
              </tr>
            </thead>
            <tbody>
              <%if(!searchResult){%> <%inventoryItems.forEach((item,indx) => {%>
              <tr>
                <td><%=indx + 1%></td>
                <td><%=item.name%></td>
                <td><%=item.quantity%></td>
                <td><%=item.brand%></td>
                <td><%=item.location%></td>
                <td>
                  <button
                    type="submit"
                    class="btn btn-primary btn-sm editBtn"
                    data-bs-toggle="modal"
                    data-bs-target="#itemForm"
                    data-bs-identifier="inventory"
                    data-bs-id="<%=item._id%>"
                  >
                    Edit
                  </button>
                </td>
                <td>
                  <form
                    action="/inventory/deleteItem/<%=item._id%>?_method=DELETE"
                    method="POST"
                  >
                    <button type="submit" class="btn btn-primary btn-sm">
                      Delete
                    </button>
                  </form>
                </td>
              </tr>
              <%})%> <%}else{%> <%searchResult.forEach((item,indx) => {%>
              <tr>
                <td><%=indx + 1%></td>
                <td><%=item.name%></td>
                <td><%=item.quantity%></td>
                <td><%=item.brand%></td>
                <td><%=item.location%></td>
                <td>
                  <button
                    type="submit"
                    class="btn btn-primary btn-sm editBtn"
                    data-bs-toggle="modal"
                    data-bs-target="#itemForm"
                    data-bs-id="<%=item._id%>"
                    data-bs-identifier="inventory"
                  >
                    Edit
                  </button>
                </td>
                <td>
                  <form
                    action="/inventory/deleteItem/<%=item._id%>?_method=DELETE"
                    method="POST"
                  >
                    <button type="submit" class="btn btn-primary btn-sm">
                      Delete
                    </button>
                  </form>
                </td>
              </tr>
              <%})%> <%}%>
            </tbody>
          </table>
          <!--/table-->
        </div>
      </div>
    </div>
    <!--/container-->

    <!--modal-->
    <div class="modal" id="itemForm" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Inventory</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!--form-->
            <form action="inventory" method="POST" id="form">
              <div class="mb-3">
                <label for="name" class="form-label">Item Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="itemName"
                  aria-describedby=""
                />
              </div>
              <div class="mb-3">
                <label for="quantity" class="form-label">Quantity</label>
                <input
                  type="number"
                  class="form-control"
                  id="quantity"
                  name="itemQty"
                  min="0"
                />
              </div>
              <div class="mb-3">
                <label for="brand" class="form-label">Brand</label>
                <input
                  type="text"
                  class="form-control"
                  id="brand"
                  name="itemBrand"
                />
              </div>
              <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input
                  type="text"
                  class="form-control"
                  id="location"
                  name="itemLocation"
                />
              </div>
              <button type="submit" id="updateBtn" class="btn btn-primary">Add</button>
              <button type="reset" id="hiddenBtn" class="btn btn-primary">
                Reset
              </button>
            </form>
            <!--/form-->
          </div>
        </div>
      </div>
    </div>
    <!--/modal-->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script src="/js/main.js"></script>
  </body>
</html>
