<%-include("partials/header.ejs")%>
    <!--Active Container-->
    <div class="container">
      <h1 class="text-center">Tickets</h1>
      <div class="row mt-5">
        <div class="row">
          <div class="col">
            <a href="/ticket/register" class="btn btn-primary ">Create Ticket</a>     
          </div>
        </div>
        <h2 class="text-center">Active Ticket</h2>
        <div class="col">
          <!--table-->
          <table class="table table-striped">
            <thead class="border border-3 border-secondary">
              <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Repair Type</th>
                <th scope="col">Hours</th>
                <th scope="col">Parts</th>
                <th scope="col">Cost</th>
                <th scope="col">Date</th>
                <th scope="col">Technician</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody class="text-center border border-3 border-secondary">
              <%tickets.forEach((item,indx) => {%>
                <%if(!item.closed){%>
                  <tr>
                    <td><%=indx + 1%></td>
                    <td><%=item.repairType%></td>
                    <td><%=item.hour%></td>
                    <td>
                      <ul class="list-unstyled">
                        <%item.parts.forEach(el => {%>
                            <li><%=el%></li>
                        <%})%>
                      </ul>
                    </td>
                    <td><%=item.cost%></td>
                    <td><%=item.date%></td>
                    <td>
                      <%employees.forEach(ele => {%>
                          <%if(String(ele._id) == item.technician){%>
                            <a href="/employee/<%=item.technician%>/ticket" class="text-decoration-none">
                              <%=ele.name%>
                            </a>
                          <%}%>
                      <%})%>
                    </td>
                    <td>
                      <form action="/ticket/<%=item._id%>?_method=PUT" method="POST">
                        <select name="status" id="statusOption">
                          <%status.forEach((ele,indx) => {%>
                            <%if(item.status == String(indx)){%>
                              <option value="<%=indx%>"selected><%=ele%></option>
                            <%}else{%>
                              <option value="<%=indx%>"><%=ele%></option>
                            <%}%>
                          <%})%>
                        </select>
                        <button class="btn btn-success btn-sm" type="submit">Update Status</button>
                      </form>
                    </td>
                    <td class="">
                      <div class="d-flex justify-content-between">
                        <a
                        class="btn btn-primary btn-sm"
                        href="/ticket/<%=item._id%>/ticket"
                        >View</a>
                        <a class="btn btn-primary btn-sm" href="/ticket/edit/<%=item._id%>/ticket">Update</a>
                        <a class="btn btn-primary btn-sm" href="/ticket/deleteItem/<%=item._id%>?_method=DELETE">Delete</a>
                        <a class="btn btn-danger btn-sm" href="/ticket/closeTicket/<%=item._id%>?_method=PUT">Close</a>
                      </div>
                    </td>
                  </tr>
                <%}%>
              <%})%>
            </tbody>
          </table>
          <!--/table-->
        </div>
      </div>
    </div>
    <!--/container-->

    <!--closed Container-->
    <div class="container mt-5">
      <div class="row">
        <h2 class="text-center">Closed Ticket</h2>
        <div class="col">
          <!--table-->
          <table class="table">
            <thead class="border border-3 border-secondary">
              <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Repair Type</th>
                <th scope="col">Hours</th>
                <th scope="col">Cost</th>
                <th scope="col">Technician</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody class="text-center border border-3 border-secondary">
              <%tickets.forEach((item,indx) => {%>
                <%if(item.closed){%>
                  <tr>
                    <td><%=indx + 1%></td>
                    <td><%=item.repairType%></td>
                    <td><%=item.hour%></td>
                    <td><%=item.cost%></td>
                    <td>
                      <%employees.forEach(ele => {%>
                          <%if(String(ele._id) == item.technician){%>
                              <%=ele.name%>
                          <%}%>
                      <%})%>
                    </td>
                    <td><%=item.date%></td>
                    <td class="">
                      <div class="d-flex justify-content-around">
                        <a
                        class="btn btn-primary btn-sm"
                        href="/ticket/closedTicket/<%=item._id%>/ticket"
                        >View</a>
                        <a class="btn btn-success btn-sm" href="/ticket/openTicket/<%=item._id%>?_method=PUT">Open</a>
                      </div>
                    </td>
                  </tr>
                <%}%>
              <%})%>
            </tbody>
          </table>
          <!--/table-->
        </div>
      </div>
    </div>
    <!--/container-->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script src="/js/main.js"></script>
  </body>
</html>
