<%-include("../partials/header.ejs")%>
    <!--container-->
    <div class="container">
      <%if(location === 'customer'){%>
        <a href="/customer/history/<%=ticCustomer._id%>" class="text-decoration-none"><i class="fa-solid fa-caret-left"></i>Back to Customer History</a>
      <%}else if(location === 'employee'){%>
        <a href="/employee/history/<%=objTic.technician%>" class="text-decoration-none"><i class="fa-solid fa-caret-left"></i>Back to Employee History</a>
      <%}else{%>
        <!-- <a href="/ticket" class="text-decoration-none">View All Tickets</a> -->
      <%}%>
      <h1 class="text-center">Closed Ticket</h1>
      <div class="row justify-content-center">
        <div class="col-5 border border-3 border-secondary py-4 px-3">
          <!--form-->
          <form action="/ticket" method="POST" id="form">
            <div class="mb-3 d-flex gap-2">
              <label for="repairType" class="form-label">Repair</label>
              <input
                type="text"
                class="form-control"
                id="repairType"
                name="repairType"
                aria-describedby=""
                value="<%=objTic.repairType%>"
                disabled
              />
              <label for="hour" class="form-label">Hours</label>
              <input
                type="number"
                class="form-control w-25"
                id="hour"
                name="repairHours"
                min="0"
                step="0.10"
                value="<%=objTic.hour%>"
                disabled
              />
            </div>
            <div class="mb-3">
            </div>
            <div class="mb-3 d-flex gap-2">
              <label for="repairDate" class="form-label">Date</label>
              <input
                type="date"
                class="form-control"
                id="date"
                name="repairDate"
                value="<%=objTic.date%>"
                style="flex-basis: 30%;"
                disabled
              />
              <label for="cost" class="form-label">Cost</label>
              <i class="fa-solid fa-dollar-sign" style="margin:auto -5px auto 0;"></i>
              <input
                type="number"
                class="form-control w-25"
                id="cost"
                name="repairCost"
                min="0"
                step="0.01"
                value="<%=objTic.cost%>"
                disabled
              />
            </div>
            <div class="mb-3 d-flex gap-2">
              <div class="">
                <label for="technician" class="form-label"><h3>Technician:</h3></label>
                <select name="repairTech" id="technician" disabled>
                  <%employees.forEach(el => {%>
                    <%if(String(el._id) == objTic.technician){%>
                      <option value="<%=el._id%>" selected><%=el.name%></option>
                    <%}else{%>
                      <option value="<%=el._id%>"><%=el.name%></option>
                    <%}%>
                  <%})%>
                </select>
              </div>
              <div class="d-flex gap-2">
                <label for="status" class="form-label ms-1"><h3>Status:</h3></label>
                <%status.forEach((stat,indx) => {%>
                    <%if(objTic.status == indx){%>
                      <input
                      type="text"
                      class="form-control w-50"
                      id="status"
                      name="repairStatus"
                      value="<%=stat%>"
                      style="height: 70%;"
                      disabled
                    />
                    <%}%>
                <%})%>
              </div>
            </div>
            <div class="mb-3">
              <h3 class="text-center mb-3">Customer Information</h3>
              <div class="mb-3 d-flex gap-2">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="customerName"
                  aria-describedby=""
                  value="<%=ticCustomer.name%>"
                  disabled
                />
                <label for="phone_number" class="form-label">Phone</label>
                <input
                  type="tel"
                  class="form-control"
                  id="phone_number"
                  name="customerPhone"
                  value="<%=ticCustomer.phone_number%>"
                  disabled
                />
              </div>
              <div class="mb-3 d-flex gap-2">
                <label for="address" class="form-label">Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  name="customerAddr"
                  min="0"
                  value="<%=ticCustomer.address%>"
                  disabled
                />
              </div>
              <div class="mb-3">
              </div>
            </div>
            <div class="mb-3">
              <h3 class="text-center mb-3">Vehicle Information:</h3>
              <div id="vehicleContainer">
                <%vehicles.forEach(el => {%>
                <div class="col d-flex gap-2 mt-2 flex-wrap">
                  <input
                    type="text"
                    name="vehicle"
                    value="<%=el._id%>"
                    hidden
                  />
                  <label for="vehicleYear" class="form-label">Year:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 20%"
                    value="<%=el.vehicleYear%>"
                    disabled
                  />
                  <label for="vehicleMake" class="form-label">Make:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 50%"
                    value="<%=el.vehicleMake%>"
                    disabled
                  />
                  <label for="vehicleModel" class="form-label">Model:</label>
                  <input
                    type="text"
                    class="form-control w-50"
                    id="vehicles"
                    name="vehicle"
                    value="<%=el.vehicleModel%>"
                    disabled
                  />
                  <label for="vehicleEngine" class="form-label">Engine:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 20%"
                    value="<%=el.vehicleEngine%>"
                    disabled
                  />
                  <label for="vehicleMileage" class="form-label"
                    >Mileage:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 20%"
                    value="<%=el.vehicleMileage%>"
                    disabled
                  />
                  <label for="vehicleVIN" class="form-label">VIN number:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 40%"
                    value="<%=el.vehicleVIN%>"
                    disabled
                  />
                </div>
                <%})%>
              </div>
            </div>
            <div class="mb-3">
              <label for="parts" class="form-label d-flex justify-content-center"><h3>Parts</h3></label>
              <div id="partContainer">
                <%if(parts){%>
                  <%parts.forEach(part => {%>
                    <div class="d-flex gap-2 my-2">
                      <input
                        type="text"
                        placeholder="Name"
                        class="form-control w-75"
                        id="parts"
                        name="repairParts"
                        value="<%=part[0]%>"
                        disabled
                      />
                      <input
                        type="number"
                        placeholder="Qty"
                        class="form-control w-25"
                        id="parts"
                        name="repairParts"
                        value="<%=part[1]%>"
                        disabled
                      />
                    </div>
                  <%})%>
                <%}%>  
              </div>
            </div>
            <div class="d-flex justify-content-end gap-1">
              <a type="button" class="btn btn-success" href="/ticket/openTicket/<%=objTic._id%>?_method=PUT">
                Open
              </a>
              <a href="/ticket" type="button" class="btn btn-danger">Cancel</a>
            </div>
          </form>
          <!--/form-->
        </div>
      </div>
    </div>
    <!--/container-->
<%-include("../partials/footer.ejs")%>

