<%-include("../partials/header.ejs")%>
<!--container-->
    <div class="container">
      <!-- <a href="/customer" class="text-decoration-none"><i class="fa-solid fa-caret-left"></i>Back to Customers</a>   -->
      <h1 class="text-center">View Customer</h1>
      <div class="row justify-content-center">
        <div class="col-5 p-2 border border-3 border-secondary">
          <!--form-->
          <form
            action="editItem/<%=item._id%>?_method=PUT"
            method="POST"
            id="form" class="p-2">
            <div class="mb-3 d-flex gap-2">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="customerName"
                aria-describedby=""
                value="<%=item.name%>"
                disabled
              />
              <label for="phone_number" class="form-label">Phone</label>
              <input
                type="tel"
                class="form-control"
                id="phone_number"
                name="customerPhone"
                value="<%=item.phone_number%>"
                disabled
              />
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input
                type="text"
                class="form-control"
                id="address"
                name="customerAddr"
                value="<%=item.address%>"
                disabled
              />
            </div>
            <div class="mb-3 d-flex">
              <div class="">
                <label for="joined_date" class="form-label">Joined Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="joined_date"
                  name="joinedDate"
                  value="<%=item.joined_date%>"
                  disabled
                />
              </div>
              <div class="ms-3">
                <label for="fav_tech" class="form-label">Perfer Technician</label>
                <select name="customerTech" id="fav_tech" class="d-block" disabled>
                  <option value="">None</option>
                  <%employees.forEach(employee =>{%>
                    <%if(employee._id == item.fav_tech){%>
                      <option value="<%=employee._id%>" selected><%=employee.name%></option>
                    <%}else{%>
                      <option value="<%=employee._id%>"><%=employee.name%></option>
                    <%}%>
                  <%})%>
                </select>
              </div>
            </div>
            <div class="mb-3">
            </div>
            <div class="mb-3">
              <h3 class="text-center">Vehicle Information</h3>
              <div id="vehicleContainer" class="pt-2">
                <%vehicles.forEach(el => {%>
                <div class="col d-flex gap-3 mt-2 flex-wrap">
                  <input
                    type="text"
                    name="vehicle"
                    value="<%=el._id%>"
                    hidden
                  />
                  <label for="vehicleYear" class="form-label">Year:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 20%"
                    value="<%=el.vehicleYear%>"
                    disabled
                  />
                  <label for="vehicleMake" class="form-label">Make:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 50%"
                    value="<%=el.vehicleMake%>"
                    disabled
                  />
                  <label for="vehicleModel" class="form-label">Model:</label>
                  <input
                    type="text"
                    class="form-control w-50"
                    id="vehicles"
                    name="vehicle"
                    value="<%=el.vehicleModel%>"
                    disabled
                  />
                  <label for="vehicleEngine" class="form-label">Engine:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 20%"
                    value="<%=el.vehicleEngine%>"
                    disabled
                  />
                  <label for="vehicleMileage" class="form-label"
                    >Mileage:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 20%"
                    value="<%=el.vehicleMileage%>"
                    disabled
                  />
                  <label for="vehicleVIN" class="form-label">VIN number:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="vehicles"
                    name="vehicle"
                    style="flex-basis: 40%"
                    value="<%=el.vehicleVIN%>"
                    disabled
                  />
                </div>
                <%})%>
              </div>
            </div>
            <div class="d-flex justify-content-end gap-2 mt-4 mb-2">
              <a id="editMode" class="btn btn-primary" href="/customer/edit/<%=item._id%>">
                Edit
              </a>
              <a href="/customer" type="button" class="btn btn-danger">Cancel</a>
            </div>
          </form>
          <!--/form-->
        </div>
      </div>
    </div>
    <!--/container-->
<%-include("../partials/footer.ejs")%>    
