<%-include("../partials/header.ejs")%>
  <!--container-->
    <div class="container">
      <%if(location === 'ticket'){%>
        <a href="/ticket" class="text-decoration-none"><i class="fa-solid fa-caret-left"></i>Back to Tickets</a>
      <%}else if(location === 'employee'){%>
        <!-- <a href="/employee" class="text-decoration-none"><i class="fa-solid fa-caret-left"></i>Back to Employees</a> -->
      <%}else{%>
        <a href="/customer/history/<%=location%>" class="text-decoration-none"><i class="fa-solid fa-caret-left"></i>Back to Customer</a>
      <%}%>
      <h1 class="text-center">View Employee</h1>
      <div class="row justify-content-center">
        <div class="col-5 border border-3 border-secondary py-4 px-3">
          <!--form-->
          <form action="/employee" method="POST" id="form">
            <div class="mb-3 d-flex gap-2">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control w-75"
                id="name"
                name="employeeName"
                aria-describedby=""
                value="<%=employ.name%>"
                disabled
              />
              <label for="phone_number" class="form-label">Phone</label>
              <input
                type="tel"
                class="form-control w-50"
                id="phone_number"
                name="employeePhone"
                value="<%=employ.phone_number%>"
                disabled
              />
            </div>
            <div class="mb-3 d-flex gap-2">
              <label for="class" class="form-label">Class</label>
              <%classes.forEach((rank,indx) => {%>
                <%if(employ.class === String(indx)){%>
                <input
                  type="text"
                  class="form-control"
                  id="class"
                  name="employeeClass"
                  value="<%=rank%>"
                  disabled
                />
                <%}%>
              <%})%>

              <label for="status" class="form-label">Status</label>
              <%status.forEach((stat,indx) => {%>
                <%if(employ.status === String(indx)){%>
                  <input
                  type="text"
                  class="form-control"
                  id="status"
                  name="employeeStatus"
                  value="<%=stat%>"
                  disabled
                />
                <%}%>
              <%})%>
            </div>
            <div class="mb-3">
              
            </div>
            <div class="mb-3 d-flex gap-2">
              <label for="address" class="form-label">Address</label>
              <input
                type="text"
                class="form-control w-75"
                id="address"
                name="employeeAddr"
                value="<%=employ.address%>"
                disabled
              />
            </div>
            <div class="mb-3">

            </div>
            <div class="mb-3 d-flex">
              <div class="">
                <label for="DOB" class="form-label">DOB</label>
                <input
                  type="date"
                  class="form-control"
                  id="DOB"
                  name="employeeDOB"
                  value="<%=employ.DOB%>"
                  disabled
                />
              </div>
              <div class="ms-2">
                <label for="joined_date" class="form-label">Joined Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="joined_date"
                  name="employeeJDate"
                  value="<%=employ.joined_date%>"
                  disabled
                />
              </div>
              <div class="ms-2">
                <label for="specialty" class="form-label">Specialty</label>
                <input
                  type="text"
                  class="form-control"
                  id="specialty"
                  name="employeeSpecialty"
                  value="<%=employ.specialty%>"
                  disabled
                />
              </div>
            </div>
            <%if(location === 'ticket'){%>
              <div class="d-flex gap-1 justify-content-end">
                <a
                id="updateBtn"
                type="button"
                class="btn btn-danger"
                href="/employee/edit/<%=employ._id%>/ticket">
                Edit
                </a>
              </div>
            <%}else if(location === 'employee'){%>
              <div class="d-flex gap-1 justify-content-end">
                <a
                id="updateBtn"
                type="button"
                class="btn btn-primary"
                href="/employee/edit/<%=employ._id%>/employee">
                Edit
                </a>
                <a href="/employee" type="button" class="btn btn-danger">Cancel</a>
              </div>
            <%}else{%>
              <div class="d-flex gap-1 justify-content-end">
                <a
                id="updateBtn"
                type="button"
                class="btn btn-danger"
                href="/employee/edit/<%=employ._id%>/<%=location%>">
                Edit
                </a>
                <!-- <a href="/employee" type="button" class="btn btn-danger">Cancel</a> -->
              </div>
            <%}%>
          </form>
          <!--/form-->
        </div>
      </div>
    </div>
  <!--/container-->
<%-include("../partials/footer.ejs")%>

