<%-include("../partials/header.ejs")%>
    <!--Active Container-->
    <div class="container">
      <h1 class="text-center"><%=employ.name%> Repair History</h1>
      <a href="/employee" class="text-decoration-none"><i class="fa-solid fa-caret-left"></i>Back to Employee</a>
      <div class="row mt-5">
        <h2 class="text-center">Current</h2>
        <div class="col border border-3 border-secondary">
          <!--table-->
          <table class="table">
            <thead class="text-center">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Repair Type</th>
                <th scope="col">Hours</th>
                <th scope="col">Cost</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <%empTicket.forEach((tic,indx) => {%> <%if(!tic.closed){%>
              <tr>
                <td><%=indx + 1%></td>
                <td><%=tic.repairType%></td>
                <td><%=tic.hour%></td>
                <td><%=tic.cost%></td>
                <td><%=tic.date%></td>
                <td>
                    <%status.forEach((ele,indx) => {%>
                        <%if(tic.status == String(indx)){%>
                          <%=ele%>
                        <%}%>
                      <%})%>
                </td>
                <td>
                  <a href="/ticket/<%=tic._id%>/employee" class="text-decoration-none">View</a>
                </td>
              </tr>
              <%}%> <%})%>
            </tbody>
          </table>
          <!--/table-->
        </div>
      </div>
    </div>
    <!--/container-->

    <!--closed Container-->
    <div class="container mt-5">
      <div class="row">
        <h2 class="text-center">Past</h2>
        <div class="col border border-3 border-secondary">
          <!--table-->
          <table class="table">
            <thead class="text-center">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Repair Type</th>
                <th scope="col">Hours</th>
                <th scope="col">Cost</th>
                <th scope="col">Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="text-center">
              <%empTicket.forEach((tic,indx) => {%> <%if(tic.closed &&
              tic.status === '3'){%>
              <tr>
                <td><%=indx + 1%></td>
                <td><%=tic.repairType%></td>
                <td><%=tic.hour%></td>
                <td><%=tic.cost%></td>
                <td><%=tic.date%></td>
                <td>
                    <a href="/ticket/closedTicket/<%=tic._id%>/employee">View</a>
                </td>
              </tr>
              <%}%> <%})%>
            </tbody>
          </table>
          <!--/table-->
        </div>
      </div>
    </div>
<!--/container-->
<%-include("../partials/footer.ejs")%>