<%-include("../partials/header.ejs")%>
<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
crossorigin="anonymous"
/>
<!--container-->
  <div class="container">
    <h1 class="text-center">Update Employee</h1>
    <div class="row justify-content-center">
      <div class="col-5 border border-3 border-secondary py-4 px-3">
        <!--form-->
        <form
          action="/employee/editItem/<%=employ._id%>?_method=PUT"
          method="POST"
          id="form"
        >
          <div class="mb-3 d-flex gap-2">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="employeeName"
              aria-describedby=""
              value="<%=employ.name%>"
            />
            <label for="phone_number" class="form-label">Phone</label>
            <input
              type="tel"
              class="form-control w-75"
              id="phone_number"
              name="employeePhone"
              value="<%=employ.phone_number%>"
            />
          </div>
          <div class="mb-3 d-flex gap-2">
            <label for="address" class="form-label">Address</label>
            <input
              type="text"
              class="form-control w-50"
              id="address"
              name="employeeAddr"
              value="<%=employ.address%>"
            />
          </div>
          <div class="mb-2 d-flex gap-3">
            <div>
              <label for="class" class="form-label">Class</label>
              <select name="employeeClass" id="rank">
                <%classes.forEach((rank,indx) => {%>
                    <%if(employ.class === String(indx)){%>
                      <option value="<%=indx%>" selected><%=rank%></option>
                    <%}else{%>
                      <option value="<%=indx%>"><%=rank%></option>
                    <%}%>
                <%})%>
              </select>
            </div>
            <div>
              <label for="status" class="form-label">Status</label>
              <select name="employeeStatus" id="status">
                <%status.forEach((stat,indx) => {%>
                  <%if(employ.status === String(indx)){%>
                    <option value="<%=indx%>" selected><%=stat%></option>
                  <%}else{%>
                    <option value="<%=indx%>"><%=stat%></option>
                  <%}%>
                <%})%>
              </select>
            </div>
          </div>
          <div class="mb-3 d-flex gap-2">
            <div class="">
              <label for="DOB" class="form-label">DOB</label>
              <input
                type="date"
                class="form-control"
                id="DOB"
                name="employeeDOB"
                value="<%=employ.DOB%>"
              />
            </div>
            <div class="">
              <label for="joined_date" class="form-label">Joined Date</label>
              <input
                type="date"
                class="form-control"
                id="joined_date"
                name="employeeJDate"
                value="<%=employ.joined_date%>"
              />
            </div>
            <div class="">
              <label for="specialty" class="form-label">Specialty</label>
              <input
                type="text"
                class="form-control"
                id="specialty"
                name="employeeSpecialty"
                value="<%=employ.specialty%>"
              />
            </div>
          </div>
          <div class="d-flex justify-content-end gap-1">
            <button id="updateBtn" class="btn btn-success" type="submit">
              Update
            </button>
            <a id="resetBtn" class="btn btn-primary" type="reset">Reset</a>
            <%if(location === "ticket"){%>
              <a
                href="/employee/<%=employ._id%>/ticket"
                type="button"
                class="btn btn-danger"
                >Cancel</a>
            <%}else if(location === "employee"){%>
              <!-- <a
              href="/employee/<%=employ._id%>/employee"
              type="button"
              class="btn btn-primary"
              >Cancel</a> -->
              <a
              href="/employee"
              type="button"
              class="btn btn-danger"
              >Cancel</a>
            <%}else{%>
              <a
              href="/employee/<%=employ._id%>/<%=location%>"
              type="button"
              class="btn btn-danger"
              >Cancel</a>
            <%}%>
          </div>
        </form>
        <!--/form-->
      </div>
    </div>
  </div>
<!--/container-->
<%-include("../partials/footer.ejs")%>
