<%-include("../partials/header.ejs")%>
<!--container-->
    <div class="container">
      <h1 class="text-center">Update Ticket</h1>
      <div class="row justify-content-center">
        <div class="col-5 border border-3 border-secondary py-4 px-3">
          <!--form-->
          <form action="/ticket/editItem/<%=ticketId%>?_method=PUT" method="POST" id="form">
            <div class="mb-3 d-flex gap-2">
              <label for="repairType" class="form-label">Repair</label>
              <input
                type="text"
                class="form-control"
                id="repairType"
                name="repairType"
                aria-describedby=""
                value="<%=tickets.repairType%>"
              />
              <label for="hour" class="form-label">Hours</label>
              <input
                type="number"
                class="form-control w-25"
                id="hour"
                name="repairHours"
                min="0"
                step="0.10"
                value="<%=tickets.hour%>"
              />
            </div>
            <div class="mb-3 d-flex gap-2">
              <label for="repairDate" class="form-label">Date</label>
              <input
                type="date"
                class="form-control"
                id="date"
                name="repairDate"
                value="<%=tickets.date%>"
                style="flex-basis: 30%;"
              />
              <label for="cost" class="form-label">Cost</label>
              <i class="fa-solid fa-dollar-sign" style="margin:auto -5px auto 0;"></i>
              <input
                type="number"
                class="form-control w-25"
                id="cost"
                name="repairCost"
                min="0"
                step="0.01"
                value="<%=tickets.cost%>"
              />
            </div>
            <div class="mb-3">

            </div>
            <div class="mb-3 d-flex gap-2">
              <div>
                <label for="technician" class="form-label"><h3>Technician:</h3></label>
                <select name="repairTech" id="technician">
                  <option value="">None</option>
                  <%employees.forEach(employee =>{%>
                    <%if(String(employee._id) == tickets.technician){%>
                      <option value="<%=employee._id%>" selected><%=employee.name%></option>
                    <%}else{%>
                      <option value="<%=employee._id%>"><%=employee.name%></option>
                    <%}%>
                  <%})%>
                </select>
              </div>
              <div>
                <label for="repairStatus"><h3 class="text-center">Status:</h3></label>
                <select name="repairStatus" id="statusOption">
                  <%status.forEach((ele,indx) => {%>
                    <%if(tickets.status == String(indx)){%>
                      <option value="<%=indx%>"selected><%=ele%></option>
                    <%}else{%>
                      <option value="<%=indx%>"><%=ele%></option>
                    <%}%>
                  <%})%>
                </select>
              </div>

            </div>
            <div class="mb-3">
              <h3 class="text-center mb-3">Customer Information</h3>
              <div class="mb-3 d-flex gap-2">
                <input type="text" name="customerId" id="customerId" value="<%=ticCustomer._id%>" hidden>
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="customerName"
                  aria-describedby=""
                  value="<%=ticCustomer.name%>"
                />
                <label for="phone_number" class="form-label">Phone</label>
                <input
                  type="tel"
                  class="form-control"
                  id="phone_number"
                  name="customerPhone"
                  value="<%=ticCustomer.phone_number%>"
                />
              </div>
              <div class="mb-3 d-flex gap-2">
                <label for="address" class="form-label">Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  name="customerAddr"
                  min="0"
                  value="<%=ticCustomer.address%>"
                />
              </div>
              <div class="mb-3">
              </div>
            </div>
            <div class="mb-3">
              <h3 class="text-center mb-3">Vehicle Information</h3>
              <div id="vehicleContainer">
                <%vehicles.forEach(vehicle => {%>
                    <div class="col d-flex gap-2 mt-2 flex-wrap edit">
                      <input type="text" name="vehicle" id="vehicleId" value="<%=vehicle._id%>" hidden>
                      <label for="vehicleYear" class="form-label">Year:</label>
                      <input
                        type="text"
                        class="form-control mb-1"
                        id="vehicles"
                        name="vehicle"
                        style="flex-basis: 20%"
                        value="<%=vehicle.vehicleYear%>"
                      />
                      <label for="vehicleMake" class="form-label">Make:</label>
                      <input
                        type="text"
                        class="form-control mb-1"
                        id="vehicles"
                        name="vehicle"
                        style="flex-basis: 50%"
                        value="<%=vehicle.vehicleMake%>"
                      />
                      <label for="vehicleModel" class="form-label">Model:</label>
                      <input
                        type="text"
                        class="form-control w-50 mb-1"
                        id="vehicles"
                        name="vehicle"
                        value="<%=vehicle.vehicleModel%>"
                      />
                      <label for="vehicleEngine" class="form-label">Engine:</label>
                      <input
                        type="text"
                        class="form-control mb-1"
                        id="vehicles"
                        name="vehicle"
                        style="flex-basis: 20%"
                        value="<%=vehicle.vehicleEngine%>"
                      />
                      <label for="vehicleMileage" class="form-label"
                        >Mileage:</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="vehicles"
                        name="vehicle"
                        style="flex-basis: 20%"
                        value="<%=vehicle.vehicleMileage%>"
                      />
                      <label for="vehicleVIN" class="form-label">VIN number:</label>
                      <input
                        type="text"
                        class="form-control"
                        id="vehicles"
                        name="vehicle"
                        style="flex-basis: 40%"
                        value="<%=vehicle.vehicleVIN%>"
                      />
                    </div>
                <%})%>
              </div>
            </div>
            <div class="mb-3">
              <label for="parts" class="form-label d-flex justify-content-center"><h3>Parts</h3></label>
              <div id="partContainer">
                <%parts.forEach(part => {%>
                    <div class="d-flex gap-2 my-2">
                      <input
                        type="text"
                        placeholder="Name"
                        class="form-control w-75"
                        id="parts"
                        name="repairParts"
                        value="<%=part[0]%>"
                      />
                      <input
                        type="number"
                        placeholder="Qty"
                        class="form-control w-25"
                        id="parts"
                        name="repairParts"
                        value="<%=part[1]%>"
                      />
                      <button
                      class="btn btn-danger btn-sm deleteInputBox"
                      type="button"
                      >
                      Delete
                      </button>
                    </div>
                <%})%>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button
                  class="btn btn-primary"
                  id="addInputBox"
                  type="button"
                >
                  Add Part
                </button>
              </div>
            </div>
            <div class="d-flex justify-content-end gap-1">
              <button type="submit" id="updateBtn" class="btn btn-success">Update</button>
            <button type="reset" id="hiddenBtn" class="btn btn-primary">
              Reset
            </button>
            <%if(location === 'customer'){%>
              <a type="button" class="btn btn-danger" href="/ticket/<%=ticketId%>/customer">Cancel</a>
            <%}else if(location === 'employee'){%>
              <a type="button" class="btn btn-danger" href="/ticket/<%=ticketId%>/employee">Cancel</a>
            <%}else{%>
              <!-- <a type="button" class="btn btn-danger" href="/ticket/<%=ticketId%>/ticket">Cancel</a> -->
              <a type="button" class="btn btn-danger" href="/ticket">Cancel</a>
            <%}%>
            </div>
          </form>
          <!--/form-->
        </div>
      </div>
    </div>
    <!--/container-->
<%-include("../partials/footer.ejs")%>